<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="keywords" content="图,关系分析,图可视化,图数据分析"/>
    <meta name="description" content="关系数据可视化分析"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>图说数据</title>

    <link rel="stylesheet" href="{% static 'foodKG/scripts/bootstrap/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{% static 'foodKG/style/bootstrap-table.min.css' %}">

    <script type="text/javascript" src="{% static 'foodKG/common/baidu.js' %}"></script>
</head>

<body>
<div style="margin:10px;">
    <div class="row row-lg" style="margin:0;">
        <div id="node-table-wrap" class="col-sm-12">
            <div class="example-wrap">
                <div class="example">
                    <table id="demodata-table" data-height="400" data-mobile-responsive="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="{% static 'foodKG/scripts/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'foodKG/scripts/bootstrap/bootstrap.min.js' %}"></script> {# foodKG/scripts/bootstrap/bootstrap.min.js?v=3.3.6 #}
<script type="text/javascript" src="{% static 'foodKG/scripts/bootstrap/bootstrap-table/bootstrap-table.min.js' %}"></script>

<script type="text/javascript">
    (function (document, window, $) {
        'use strict';
        initDemoDataTable();

        function initDemoDataTable() {
            var dataSet = [
                // {index: 1, label: '食品安全常识知识图谱', value: 'first', type: '', nodeNum: 300, linkNum: 302},
                {index: 1, label: '农药知识图谱', value: 'nongyao', type: 'qq',},
                {index: 2, label: '兽药知识图谱', value: 'shouyao', type: 'qq',},
                {index: 3, label: '添加剂知识图谱', value: 'tianjiaji', type: 'qq',},
                {index: 4, label: '法律法规知识图谱', value: 'law', type: 'qq',},
                {index: 5, label: '食品安全知识图谱', value: 'food_anquan', type: 'qq',},
            ];
            var tableHeads = [
                {field: 'index', title: '序号', width: 50, sortable: true},
                {field: 'label', title: '名称', width: 300, formatter: labelFormatter},

            ];
            $('#demodata-table').bootstrapTable('destroy').bootstrapTable({
                columns: tableHeads,
                striped: false,
                data: dataSet,
                search: false,
                pagination: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                showPaginationSwitch: false,
                pageSize: 50,
                icons: {
                    refresh: 'glyphicon-repeat',
                }
            });
        }

        function labelFormatter(value, row, index) {
            return "<a href='javascript:;' onclick=\"drawGraph('" + row['value'] + "','" + row['type'] + "')\">" + value + "</a>&emsp;";
        }

        function drawGraph(dataNo, type) {
            window.parent.drawDemoData(dataNo, type);
        }


        document.drawGraph = drawGraph;


    })(document, window, jQuery);

</script>
</html>