<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="keywords" content="图,关系分析,图可视化,图数据分析"/>
    <meta name="description" content="关系数据可视化分析"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>图说数据</title>

    <link rel="stylesheet" href="{% static 'foodKG/scripts/bootstrap/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{% static 'foodKG/style/bootstrap-table.min.css' %}">

    <script type="text/javascript" src="{% static 'foodKG/common/baidu.js' %}"></script>
</head>

<body>
<div style="margin:10px;">
    <div class="row row-lg" style="margin:0;">
        <div id="node-table-wrap" class="col-sm-12">
            <div class="example-wrap">
                <div class="example">
                    <table id="demodata-table" data-height="400" data-mobile-responsive="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="{% static 'foodKG/scripts/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'foodKG/scripts/bootstrap/bootstrap.min.js' %}"></script> {# foodKG/scripts/bootstrap/bootstrap.min.js?v=3.3.6 #}
<script type="text/javascript" src="{% static 'foodKG/scripts/bootstrap/bootstrap-table/bootstrap-table.min.js' %}"></script>

<script type="text/javascript">
    (function (document, window, $) {
        'use strict';
        initDemoDataTable();

        function initDemoDataTable() {
            var dataSet = [
                // {index: 1, label: '食品安全常识知识图谱', value: 'first', type: '', nodeNum: 300, linkNum: 302},
                {index: 1, label: '农药知识图谱', value: 'nongyao', type: ''},
                {index: 1, label: '兽药知识图谱', value: 'shouyao', type: ''},
                {index: 1, label: '添加剂知识图谱', value: 'tianjiaji', type: ''},

                {index: 1, label: '食品安全风险评估管理规定知识图谱', value: 'tenth', type: ''},
                {index: 3, label: '农药常识知识图谱', value: 'third', type: 'qq', nodeNum: 1348, linkNum: 1347},
                {index: 2, label: '食品安全生产通用规范知识图谱', value: 'third', type: 'qq'},
                {index: 3, label: '食品分类知识图谱', value: 'second', type: ''},
                {index: 4, label: '食品安全风险评估管理规定', value: 'tenth', type: '', nodeNum: 43, linkNum: 42},
                {index: 4, label: '农药毒理书图谱', value: 'fourth', type: '', nodeNum: 654, linkNum: 653},
                {index: 4, label: '食品添加剂标准知识图谱', value: 'seventh', type: ''},
                {index: 5, label: '农药残留标准知识图谱', value: 'fifth', type: ''},
                {index: 6, label: '农药抽检数据知识图谱', value: 'sixth', type: 'qq'},
                {index: 7, label: '兽药残留标准知识图谱', value: 'eighth', type: 'qq'},
                {index: 8, label: '兽药抽检数据知识图谱', value: 'ninth', type: 'qq'},
                {index: 9, label: '食品重金属污染知识图谱', value: 'karate', type: 'qq'},
                {index: 10, label: '农药通用规范知识图谱', value: 'third', type: 'qq'},
                {index: 7, label: '时间维度月份', value: 'tree', type: ''},
                {index: 8, label: '时间维度年', value: 'tree_data', type: ''},
                {index: 9, label: '地点维度省份', value: 'data1', type: ''},
                {index: 10, label: '地点维度分区', value: 'data7', type: ''},
                {index: 11, label: '兽药种类', value: 'data2', type: ''},
                {index: 13, label: '甲硝唑网络', value: 'data5', type: 'mm'},
                {index: 16, label: '食品维度', value: 'data6', type: ''},

            ];
            var tableHeads = [
                {field: 'index', title: '序号', width: 50, sortable: true},
                {field: 'label', title: '名称', width: 300, formatter: labelFormatter},

            ];
            $('#demodata-table').bootstrapTable('destroy').bootstrapTable({
                columns: tableHeads,
                striped: false,
                data: dataSet,
                search: false,
                pagination: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                showPaginationSwitch: false,
                pageSize: 50,
                icons: {
                    refresh: 'glyphicon-repeat',
                }
            });
        }

        function labelFormatter(value, row, index) {
            return "<a href='javascript:;' onclick=\"drawGraph('" + row['value'] + "','" + row['type'] + "')\">" + value + "</a>&emsp;";
        }

        function drawGraph(dataNo, type) {
            window.parent.drawDemoData(dataNo, type);
        }

        document.drawGraph = drawGraph;

    })(document, window, jQuery);

</script>
</html>